

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

a:hover {
  color: #fff;
}
